<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find fishbot_description)/urdf/fishbot/common_inertia.xacro" />
    <xacro:macro name="camera_xacro" params="xyz">
        <gazebo reference="camera_link">
            <material>Gazebo/Red</material>
            <!-- 添加摄像头传感器插件 -->
            <sensor type="camera" name="camera_sensor">
                <update_rate>30.0</update_rate>
                <camera name="camera">
                    <horizontal_fov>1.3962634</horizontal_fov>  <!-- 80度视角 -->
                    <image>
                        <width>640</width>
                        <height>480</height>
                        <format>R8G8B8</format>
                    </image>
                    <clip>
                        <near>0.1</near>
                        <far>100</far>
                    </clip>
                </camera>
                <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                    <ros>
                        <namespace>camera</namespace>
                        <remapping>image_raw:=image_raw</remapping>
                        <remapping>camera_info:=camera_info</remapping>
                    </ros>
                    <camera_name>camera</camera_name>
                    <frame_name>camera_link</frame_name>
                    <hack_baseline>0.07</hack_baseline>
                </plugin>
            </sensor>
        </gazebo>
        <link name="camera_link">
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="0.02 0.1 0.02"/>
                </geometry>
                <material name="green">
                    <color rgba="0 1.0 0 0.8"/>
                </material>
            </visual>
            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="0.02 0.1 0.02"/>
                </geometry>
                <material name="green">
                    <color rgba="0 1.0 0 0.8"/>
                </material>
            </collision>
            <xacro:box_inertia m="1.0" w="0.02" h="0.1" d="0.02"/>
        </link>
        <joint name="camera_joint" type="fixed">
            <parent link="base_link"/>
            <child link="camera_link"/>
            <origin xyz="${xyz}"/>
        </joint>
        <link name="camera_optical_link">
            
        </link>
        <joint name="camera_optical_joint" type="fixed">
            <parent link="camera_link"/>
            <child link="camera_optical_link"/>
            <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
        </joint>
    </xacro:macro>

</robot>
